BaiTh1/BaiTh1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BaiTh1"
    targetNamespace="http://tempuri.org/BaiTh1.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/BaiTh1.xsd"
    xmlns:mstns="http://tempuri.org/BaiTh1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="sid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[S]\d{3}"></xs:pattern>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z ]+"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="dob" type="xs:date"></xs:element>
			
			<xs:element name="mark">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"></xs:minInclusive>
						<xs:maxInclusive value="10"></xs:maxInclusive>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" type="personType" minOccurs="1" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
