LeNhuQuynh_2023600638/Bai1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Bai1"
    targetNamespace="http://tempuri.org/Bai1.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Bai1.xsd"
    xmlns:mstns="http://tempuri.org/Bai1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:simpleType name="manvtype" used="unique">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="gtType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nam"></xs:enumeration>
			<xs:enumeration value="nu"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="hslType">
		<xs:restriction base="xs:float">
			<xs:minExclusive value="2.34"></xs:minExclusive>
			<xs:maxExclusive value="8.8"></xs:maxExclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="phoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="nvType">
		<xs:sequence>
			<xs:element name="manv" type="manvtype"></xs:element>
			<xs:element name="hoten" type="xs:string"></xs:element>
			<xs:element name="ngaysinh" type="xs:date"></xs:element>
			<xs:element name="gioitinh" type="gtType"></xs:element>
			<xs:element name="hsluong" type="hslType"></xs:element>		
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dvType">
		<xs:sequence>
			<xs:element name="tendv" type="xs:string"></xs:element>
			<xs:element name="sodienthoai" type="phoneType"></xs:element>
			<xs:element name="nhanvien" type="nvType" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="madv" type="manvtype"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="ctyType">
		<xs:sequence>
			<xs:element name="donvi" type="dvType" maxOccurs="10"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="congty" type="ctyType"></xs:element>
	
</xs:schema>
