LeNhuQuynh_2023600638/Bai2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Bai2"
    targetNamespace="http://tempuri.org/Bai2.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Bai2.xsd"
    xmlns:mstns="http://tempuri.org/Bai2.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:simpleType name="mhType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="dgType">
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0"></xs:minExclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="dvtType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="goi"></xs:enumeration>
			<xs:enumeration value="chiec"></xs:enumeration>
			<xs:enumeration value="hop"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="hangType">
		<xs:sequence>
			<xs:element name="TenHang" type="xs:string"></xs:element>
			<xs:element name="SoLuong" type="xs:int"></xs:element>
			<xs:element name="DonViTinh" type="dvtType"></xs:element>
			<xs:element name="DonGia" type="dgType"></xs:element>
		</xs:sequence>
		<xs:attribute name="MaHang" type="mhType" use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="loaihangType">
		<xs:sequence>
			<xs:element name="Hang" type="hangType" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="MaLoai" type="mhType" use="required"></xs:attribute>
		<xs:attribute name="Tenloai" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="hoadonType">
		<xs:sequence>
			<xs:element name="maHD" type="xs:string"></xs:element>
			<xs:element name="NgayBan" type="xs:date"></xs:element>
			<xs:element name="LoaiHang" type="loaihangType" maxOccurs="10"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dsType">
		<xs:sequence>
			<xs:element name="HoaDon" type="hoadonType" maxOccurs="4"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DS" type="dsType"></xs:element>
	
</xs:schema>
